// Place all the styles related to the ArtBasel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.art_basel{
  margin: 0;
  padding: 0;
  background-size: cover;
}

.wrap_for_background{
  background: url(/images/background.jpg);
}

.container1_banner{
  display:flex;
  border: 1px;
  padding: 10px;
  font-family: 'Ropa Sans', sans-serif;
}

.box_banner{
  border: 1px;
  flex:1;
  text-align: center;
}


.container2_navbar{
    flex:1;
    border:1px;
    height: 50px;
}


.container3_info{
  display:flex;
  border: 1px;
  padding: 10px;
}

.box_info{
  border: 1px;
  flex:1;
  background: rgba(0, 0, 0, 0.1);
  font-family: 'Lora', serif;
}

.box_address{
  border: 1px;
  flex:1;
  background: rgba(0, 0, 0, 0.1);
  font-family: 'Lora', serif;
}


.container4_additional_info{
  display:flex;
  border: 1px;
  padding: 10px;
}

.box_map{
  border: 1px;
  flex:1;
  padding-top: 16px;
  padding-right: 30px;
  padding-left: 10px;
}

.box_art_basel_logo{
  border: 1px;
  flex:1;
  padding-top: 70px;
  padding-left:20px;
}

.box_party_pic{
  border: 1px;
  flex:1;
  text-align: center;
  font-family: 'Lora', serif;
}


.container5_art_pictures{
  display:flex;
  border: 1px;
  padding: 10px;
}

.footer_content{
  display:flex;
  border: 1px;
  padding: 10px;
  background: black;
}





/* ################### index.html.erb css ####################### */


#head {
  padding: 183px;
  text-align: center;
}

.event {
  margin: 25px auto;
  width: 700px;
  height: 185px;
  /*text-align: center;*/
  padding: 40px 5px;
  border: 1px #D2D6DF;
  box-shadow: 3px 4px 19px #888888;
  border-radius: 6px;
}

.image {
  /*width: 400px;
  height: 150px;*/
  border: 1px green solid;

}

.image img {
  /*text-align: center;*/
  max-width: 280px;
  float: left;
}

.title {
  padding: 0 20px;
  /*float: right;*/
}

/*.event-wrapper {
  width: auto;
  padding: 20px 0;
  height: 200px;
  border: 1px red solid;
}
*/
.text-wrapper {
  text-align: center;
  padding-left: 5px;
  border: 1px blue solid;
}

button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  /*background: blue;*/
}