// Place all the styles related to the ArtBasel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.art_basel{
  margin: 0;
  padding: 0;
  background-size: cover;
}

.wrap_for_background{
  background: url(/images/background.jpg);
}

.container1_banner{
  display:flex;
  border: 1px;
  padding: 10px;
}

.box_banner{
  border: 1px;
  flex:1;
  text-align: center;
}


.container2_navbar{
    flex:1;
    border:1px;
    height: 50px;
}


.container3_info{
  display:flex;
  border: 1px;
  padding: 10px;
}


.box_info{
  border: 1px;
  flex:1;
  background: rgba(0, 0, 0, 0.1);
  font-family: 'Lora', serif;
}



.box_address{
  border: 1px;
  flex:1;
  background: rgba(0, 0, 0, 0.1);
  font-family: 'Lora', serif;
}


.container4_additional_info{
  display:flex;
  border: 1px;
  padding: 10px;
}

.box_map{
  border: 1px;
  flex:1;
  padding-top: 16px;
  padding-right: 30px;
  padding-left: 10px;
}

.box_art_basel_logo{
  border: 1px;
  flex:1;
  padding-top: 70px;
  padding-left:20px;
}

.box_party_pic{
  border: 1px;
  flex:1;
  text-align: center;
  font-family: 'Lora', serif;
}


.container5_art_pictures{
  display:flex;
  border: 1px;
  padding: 10px;
}

.footer_content{
  display:flex;
  border: 1px;
  padding: 10px;
  background: black;
}





/* ################### index.html.erb css ####################### */


